<div class="flex items-center justify-between mb-6">
    <h1 class="font-medium text-sm text-gray-900">Task list</h1>
    <a routerLink="/task/add"
       mat-flat-button
       color="primary">
        <mat-icon>add</mat-icon>
        Add task</a>
</div>
<div class="flex">
    <mat-card class="flex-1">
        <mat-card-content>
            <app-list-task-table [data]="data"></app-list-task-table>
        </mat-card-content>
    </mat-card>
    <router-outlet name="aside"></router-outlet>
</div>