<form [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate>
    <div>
        <mat-form-field class="w-full">
            <mat-label>Title</mat-label>
            <input matInput
                   placeholder="task title"
                   formControlName="title">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput
                      placeholder="task description"
                      formControlName="description"></textarea>
        </mat-form-field>
    </div>

    <div class="flex items-start">
        <div class="">
            <mat-form-field>
                <mat-label>Cars</mat-label>
                <select matNativeControl
                        required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </mat-form-field>
        </div>
        <div class=""></div>
    </div>

    <div class="flex items-center justify-between">
        <button mat-flat-button
                color="accent"
                type="submit">Add</button>
    </div>
</form>